---
interface Props {
  title: string;
  pubDate: Date;
  description: string;
  email: string;
  author: string;
}

const {
  title = "Sin título",
  pubDate,
  email = "gonzaleztenreiro@gmail.com",
  author,
} = Astro.props;
---

<section class="p-10 mark-down">
  <aside class="flex justify-between items-center flex-wrap gap-2 mb-4 text-sm">
    <strong>
      {title}
    </strong>
    <address class="font-semibold">
      Autor:
      <a
        class="text-link dark:text-link-dark hover:underline"
        href={`mailto:${email}`}
      >
        {author}
      </a>
    </address>
    <time
      datetime={`${pubDate.getFullYear()}-${(pubDate.getMonth() + 1).toString().padStart(2, "0")}-${pubDate.getDate().toString().padStart(2, "0")}`}
      >{pubDate?.toDateString()}</time
    >
  </aside>
  <slot />
</section>