---
import MainLayout from "@/layouts/TheLayout.astro"
import Bento from "@components/ui/Bento.astro"
import BentoItem from "@components/ui/BentoItem.astro"
import TheMain from '@/components/sections/TheMain.astro';
import Select from '@components/ui/HTMLSelect'
import { sortedPosts as allPosts, tags as uniqueTags } from '@/helpers/getPosts'

export async function getStaticPaths() {
 

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params
const { posts } = Astro.props
---

<MainLayout
  title={tag}
  description='Palabras clave de las diferentes publicaciones'
>
  <TheMain>
    <!-- <h2 class="subtitle text-center py-4 mb-4">
      Entradas <strong>etiquetadas</strong> con <strong>{tag}</strong>
    </h2> -->

    <Select
      client:idle
      tags={uniqueTags}
     />

    <Bento title="Resultados de la búsqueda">
      {
        posts.map((post, index) => {
          const { slug, data } = post
          let className = index === 0 
              ? 'md:col-span-6' 
              : index === 1 
                ? 'md:col-span-4' 
                : 'md:col-span-5'
          return (
            <BentoItem title={data.title} description={data.description} url={`/posts/${slug}`} class={className}>
              <div 
                slot="image"
                class="absolute z-10 left-0 top-0 bottom-0 w-full h-full bg-blue-950 group-hover:scale-110 transition-scale duration-1000 ease-in-out bg-cover bg-no-repeat bg-blend-luminosity opacity-90" style={`background-image: url(${data.url})`}>               
              </div>
            </BentoItem>
          )
        })
      }

    </Bento>
  </TheMain>
</MainLayout>
../../components/ui/_HTMLSelect../../components/ui/HTMLSelect