---
import MainLayout from '@/layouts/TheLayout.astro'
import TheMain from '@/components/sections/TheMain.astro'
import Bento from '@components/ui/Bento.astro'
import BentoItem from '@components/ui/BentoItem.astro'
import Select from '@components/ui/HTMLSelect'
import { sortedPosts as allPosts, tags } from '@/helpers/getPosts'

function getSerie (size = 5) {
  const serie1: number[] = []
  const serie2: number[] = []
  for (let i = 0; i <= size - 1; i++) {
    serie1.push(4 * i) // 0-4-8-12-16
    serie2.push(4 * i + 1) // 1-5-9-13-17
    
  }  
  return {
    serie1,
    serie2
  } 
}

const { serie1, serie2 } = getSerie(allPosts.length / 2 + 1)
---

<MainLayout
  title='Publicaciones sobre programación'
  description='React, javascript, css, html.'
>
  <TheMain>
   
    <Select
      client:idle
      tags={tags}
     />
   
    <Bento title='Entradas'>
      {
        allPosts.map(({ slug, data }, index) => {
          let className =
            serie1.includes(index)
              ? 'md:col-span-6'
              : serie2.includes(index) // 1-5-9
                ? 'md:col-span-4'
                : 'md:col-span-5'
          return (
            <BentoItem
              title={data.title}
              description={data.description}
              url={`/posts/${slug}`}
              class={className}
            >
              <div
                slot='image'
                class='absolute z-10 left-0 top-0 bottom-0 w-full h-full bg-blue-950 group-hover:scale-110 transition-scale duration-1000 ease-in-out bg-bento bg-cover bg-no-repeat bg-blend-luminosity opacity-90'
                style={data?.url && `background-image: url(${data.url})`}
              ></div>
            </BentoItem>
          )
        })
      }
    </Bento>
  </TheMain>
</MainLayout>../components/ui/_HTMLSelect../components/ui/HTMLSelect