---
import "@/styles/markdown.css";
import MainLayout from "@/layouts/TheLayout.astro";

const {
  frontmatter: { canonical, author, description, email, ogImage, pubDate, title },
} = Astro.props;
---

<MainLayout title={title} description={description} ogImage={ogImage} canonical={canonical}>
  <section class="p-10 mark-down">
    <aside
      class="flex justify-between items-center flex-wrap gap-2 mb-4 text-sm"
    >
      <strong>
        {title}
      </strong>
      <address class="font-semibold">
        Autor:
        <a
          class="text-link dark:text-link-dark hover:underline"
          href={`mailto:${email}`}
        >
          {author}
        </a>
      </address>
      <time
        datetime={`${pubDate.getFullYear()}-${(pubDate.getMonth() + 1).toString().padStart(2, "0")}-${pubDate.getDate().toString().padStart(2, "0")}`}
        >{pubDate?.toDateString()}</time
      >
    </aside>
    <slot />
  </section>
</MainLayout>
