---
import { SubHeading } from "../components";
import MainLayout from "./TheMainLayout.astro"
import '../assets/markdown.css'

const { frontmatter } = Astro.props
---

<MainLayout title={frontmatter.title} description={frontmatter.description}>
  <section class="p-10">
    <header>
      <SubHeading>
        {frontmatter.title}
      </SubHeading>
      <time>{frontmatter.pubDate.slice(0, 10)}</time>
      <p>{frontmatter.description}</p>
    </header>
    <address class="font-semibold">
      Autor:
      <a class="text-link dark:text-link-dark hover:underline" href={`mailto: ${frontmatter.email}`}>
        {frontmatter.author}
      </a>
    </address>
    <slot />
  </section>
</MainLayout>
